img{
    width: 40%;
    height:50vh; 
    float: inherit; 
    background: lightgrey;
    
}
@media only screen and (max-width:900px)
{
    img{
        width: 100%;
    }
}
div{
    margin-left: 5px;
    background-color: lightgrey;
    font-family: sans-serif;
    text-decoration: none;
    font-weight: bold;
}