

<div>
    <img src="assets\gk logo.png">
    <p>I know people who said, "l wish I knew then what I know now" who everyday regret their decisions on
        whichever career they chose. I know I made a great choice by choosing a career in lnformation
        Technology because it has always been my passion. I grew up in a very quiet place but very competitive
        so I believe that whatever that's around you or the environment you put yourself in subliminally makes
        up who you are. I come from a community who believes in making a difference and not to make
        decisions based on current circumstances. I am goal driven and motivated by many things including
        technology itself</p>
        <p> Everything in this world involves
            information technology and its one of the best ways to grow and adapt. I just love making a difference,
            and l've learnt that through other people because teamwork is always the best approach to success. My
            everyday motto is always to be positive because positivity creates a sound atmosphere.
            </p>
</div>
<router-outlet></router-outlet>