<router-outlet></router-outlet>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <nav>
      <div class="menubar">
        <div calss=line></div>
        <div calss=line></div>
        <div calss=line></div>
      </div>
      <ul class="nav-links">
        <li><a  href="#" routerLink="/">Home</a></li>
        <li><a href="#" routerLink="/about">About</a></li>
      </ul>
      
      
  </nav>
  <div class="profile-img">
    <img src="assets\a.jpg">
    
    
  </div>
  <div class="profile-info">
    <h1>Cidella Mapimele</h1>
    <p class="about">I am inspired by the mind, one can never stop learning about how our minds process, changes, and restructures things that we perceive and experience, if you want to know more, below are the links to the world of web developent you can check out to learn more about the technical world</p>
    <div class="smedia">
      <a href="https://www.facebook.com/webdev4u"><img src="assets\facebook-icon.png"></a>
      <a href="https://www.instagram.com/javascriptmastery/"><img src="assets\instagram-icon.png"></a>
      <a href="https://www.youtube.com/results?search_query=htm+and+css"><img src="assets\youtube-icon.png"></a>
    </div>
    <h2>Education</h2>
      <div class="expertise">
        <img src="assets\expertise.png">
        <p><b>Databases</b></p>
        <small>Data is everything, with database management one can learn and discover how data can be customized to
          improve the quality and consistency of information.
          </small>
      </div>
      <div class="expertise">
        <img src="assets\csharp.jpg">
        <p><b> c#</b></p>
        <small>C# is widely used for developing desktop applications, web applications and web services. It is used in
           creating applications and game development in Unity.
          </small>
      </div>
      <div class="expertise">
        <img src="assets\python.jpg">
        <p><b> Python</b></p>
        <small>Used for software development besides web development, that includes back end development, software development, 
          data science and writing system scripts among other things.
          </small>
      </div>
      <div class="expertise">
        <img src="assets\java.png">
        <p><b> Java</b></p>
        <small>It is used to develop desktop and mobile applications, big data processing, embedded systems, and so on
          </small>
      </div>
      <div class="expertise">
        <img src="assets\cpplus.jpg">
        <p><b> c++</b></p>
        <small>C++ is an object-oriented programming language which gives a clear structure to programs and allows code to be reused, lowering development costs
          </small>
      </div>
      <div class="expertise">
        <img src="assets\networks.jpg">
        <p><b> Computer Networks</b></p>
        <small>Networks are about set of computers connected together for the purpose of sharing resources. The most common resource shared today is connection to the Internet.
          </small>
      </div>
  <h2>Skills</h2>
      <div class="skills">
        <ul>
          <li>
              <div class="skill-name">
                HTML
              </div>
              <div class="skill-progress">
                <span style="width:80%"></span>
              </div>
              <div class="skill-per">80%</div>
          </li>
          <li>
              <div class="skill-name">
                CSS
              </div>
              <div class="skill-progress">
                <span style="width:70%"></span>
              </div>
              <div class="skill-per">70%</div>
          </li>
          <li>
              <div class="skill-name">
                JS
              </div>
              <div class="skill-progress">
                <span style="width:60%"></span>
              </div>
              <div class="skill-per">60%</div>
          </li>
          <li>
              <div class="skill-name">
                JQuery
              </div>
              <div class="skill-progress">
                <span style="width:75%"></span>
              </div>
              <div class="skill-per">75%</div>
            </li>
        </ul>

      </div>
      <div class="form-box">
      <h2>Contact Me</h2>
      <form>
        <div class="input-group">
        <input type="text" placeholder="First Name">
        <input type="text" placeholder="LastName">
        </div>
        <div class="input-group">
          <input type="number" placeholder="Phone Number">
          <input type="email" placeholder="Email">
          </div>
          <div class="text-area">
          <textarea rows="4" placeholder="Your Message"></textarea>
          </div>
          <button type="submit" class="submit-btn">SEND MESSAGE</button>
      </form>
      </div>
      <div class="contact">
        <a href="https://accounts.google.com/signin/v2/identifier?hl=en&flowName=GlifWebSignIn&flowEntry=AddSession"><span><img src="assets\gmail.png">ciddymap@gmail.com</span></a>
        <span><img src="assets\phone-iocn.png">+277945123742</span>

      </div>
      
  </div>
  
  
</body>

</html>





